<div class="bg-gray-600 ">
<ul class="flex space-x-7 justify-center items-center h-12 text-white ">
    <li routerLink="" class="hover:text-pink-500 cursor-pointer  " > Home </li>
    <li routerLink="about" class="hover:text-pink-500 cursor-pointer " > About </li>
    <li routerLink="education" class="hover:text-pink-500 cursor-pointer " > Education </li>
    <li routerLink="skills" class="hover:text-pink-500 cursor-pointer" > Skills </li>
    <li  routerLink="experience" class="hover:text-pink-500 cursor-pointer" > Experience </li>
    <li  routerLink="projects" class="hover:text-pink-500 cursor-pointer" > Projects </li>
    <li class="hover:text-pink-500 cursor-pointer" > Contact Me </li>
</ul>
</div>
