<div class="flex flex-col md:flex-row lg:flex-row bg-gray-200 sm:flex-col"> 
            
    <div class="relative w-full">
    <img class="w-full lg:h-[550px] h-[300px] opacity-60 rounded-lg object-cover" src="../../../assets/new me.jpeg" alt="">
    <div class="absolute inset-0  flex flex-col items-center justify-center">
        <h1 class="text-pink-500 text-4xl lg:text-9xl font-bold cursor-pointer  ">Malak Sobhy</h1>
        <h2 class="text-lg lg:text-3xl">Full Stack Developer</h2>
    </div>
</div>

    
    

</div>