<div class="flex bg-gray-200"> 
    <div class="w-1/2">
        <img class="w-[500px] h-[550px] object-cover" src="../../../assets/new me.jpeg" alt="">
    </div>
    <div class="w-1/2 flex flex-col items-center justify-center">
        <h1 class="text-pink-500 font-bold cursor-pointer">Malak Sobhy</h1>
        <h2>Full Stack Developer</h2>
    </div>
    

</div>


<!-- <app-home></app-home>
<div class="my-5"></div>
<app-about></app-about>
<div class="my-5"></div>
<app-education></app-education>
<div class="my-5"></div>
<app-skills></app-skills>
<div class="my-5"></div>
<app-experience></app-experience>
<div class="my-5"></div>
<app-projects></app-projects> -->
