<div class="flex flex-col items-center justify-center group mb-5"> 
  <h1 class="cursor-pointer text-3xl"> Education </h1>
  <div class="w-10 bg-pink-600 h-0.5 transition-all duration-300 group-hover:w-20"></div>
</div>


<div class="flex flex-row lg:my-0 my-5 ">
    
    <div class="w-full  lg:w-1/2 flex flex-col justify-center items-center px-5 bg-gray-200">
        <h2 class=" text-lg lg:text-xl  text-gray-800">B.Sc. in Computer Science</h2>
        <h2 class="text-pink-800 ">Cairo University • 2022 - 2026 (Expected)</h2>
        
    </div>

    <div class=" lg:w-1/2 flex justify-center items-center"> 
        <img class=" w-[100px] h-[100px]   lg:w-[300px]  lg:h-[300px] rounded-none lg:rounded-full my-0  lg:my-2" src="../../../assets/oba.jpg" alt="">
    </div>
</div>

<div class="flex flex-row ">
    <div class=" lg:w-1/2 flex justify-center items-center">
        <img class="lg:w-[300px] lg:h-[300px] w-[100px] h-[100px] rounded-none lg:rounded-full border border-gray-300 my-0 lg:my-2" src="../../../assets/nti.png" alt="">
    </div>
    <div class="w-full  lg:w-1/2 flex flex-col justify-center items-center px-5 bg-gray-200">
        <h2 class="text-xl text-gray-800">MEAN Stack Internship</h2>
        <p class="text-pink-800">National Telecommunication Institute (NTI) • Summer 2025</p>
        <!-- <span class="text-pink-600  ">
            Hands-on training in MongoDB, Express.js, Angular, and Node.js.
        </span> -->

    </div>
</div>