
<div class="flex flex-col items-center justify-center group"> 
  <h1 class="cursor-pointer text-3xl">Skills</h1>
  <div class="w-10 mt-1 bg-pink-600 h-0.5 transition-all duration-300 group-hover:w-20"></div>
</div>

<div class=" bg-gray-200 my-5 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 p-5">

    <div >
        <h1 class="text-gray-800 font-semibold mb-2">Programming</h1>
        <ul class="px-5 text-gray-500 space-y-2">
            <li class="text-pink-400 hover:text-xl hover:text-pink-500 cursor-pointer transition-all duration-200">Java</li>
            <li class="hover:text-xl hover:text-pink-500 cursor-pointer transition-all duration-200" >C/C++</li>
            <li class="hover:text-xl hover:text-pink-500 cursor-pointer transition-all duration-200">PL/SQL</li>
            <li class="hover:text-xl hover:text-pink-500 cursor-pointer transition-all duration-200">Assembly</li>
            <li class="hover:text-xl hover:text-pink-500 cursor-pointer transition-all duration-200">JavaScript/TypeScript</li>

        </ul>
    </div>
    <div  >
        <h1 class="text-gray-800 font-semibold mb-2">Web & App Development</h1> 
        <ul class="px-5 text-gray-500  space-y-2">
            <li class="hover:text-xl text-pink-400 hover:text-pink-500 cursor-pointer transition-all duration-200">React.JS</li>
            <li class="hover:text-xl hover:text-pink-500 cursor-pointer transition-all duration-200" >Angular.JS</li>
            <li class="hover:text-xl hover:text-pink-500 cursor-pointer transition-all duration-200">ReactNative</li>
            <li class="hover:text-xl hover:text-pink-500 cursor-pointer transition-all duration-200">Node.Js</li>
            <li class="hover:text-xl hover:text-pink-500 cursor-pointer transition-all duration-200">Hibernate</li>

        </ul>
    </div>
    <div  > 
        <h1 class="text-gray-800 font-semibold mb-2">Backend & Databases</h1>
         <ul class="px-5 text-gray-500 space-y-2 ">
            <li class="hover:text-xl text-pink-400 hover:text-pink-500 cursor-pointer transition-all duration-200">MongoDB</li>
            <li class="hover:text-xl hover:text-pink-500 cursor-pointer transition-all duration-200">Firebase</li>
            <li class="hover:text-xl hover:text-pink-500 cursor-pointer transition-all duration-200">Express.JS</li>
            <li class="hover:text-xl hover:text-pink-500 cursor-pointer transition-all duration-200">SQL (MySql ,Oracle XE) </li>

        </ul>
    </div>
    <div  >
        <h1 class="text-gray-800 font-semibold mb-2">Tools & Soft Skills</h1>
         <ul class="px-5 text-gray-500 space-y-2">
            <li class="hover:text-xl text-pink-400 hover:text-pink-500 cursor-pointer transition-all duration-200">Git/GitHub</li>
            <li class=" hover:text-xl hover:text-pink-500 cursor-pointer transition-all duration-200" >LeaderShip</li>
            <li class="hover:text-xl hover:text-pink-500 cursor-pointer transition-all duration-200">Time Management</li>
            <li class=" hover:text-xl hover:text-pink-500 cursor-pointer transition-all duration-200">Problem Solving</li>
            <li class=" hover:text-xl hover:text-pink-500 cursor-pointer transition-all duration-200">Team Collaboration</li>

        </ul>
    </div>


</div>