<div class="flex flex-col items-center justify-center group"> 
  <h1 class="cursor-pointer"> Experience </h1>
  <div class="w-5 bg-pink-600 h-0.5 transition-all duration-300 group-hover:w-14"></div>
</div>

<div class="bg-gray-200 p-5 my-5 flex flex-col gap-3  justify-center  ">


  <div>
    
     <h1>
    <span class="text-pink-500">MEAN Stack Intern</span> – NTI (National telecommunicarion institute)
  </h1>
  <h3>
    Aug 2025 – Sep 2025
  </h3>

  <ul class="mx-5 flex flex-col gap-3">
    <li>
     –  Worked on developing full-stack applications using MongoDB, Express, Angular, and Node.js.
    </li>
    <li> –  Gained hands-on experience with REST APIs and deployment practices.</li>
    <li> –  Collaborated with a team to deliver project features under deadlines. </li>
  </ul>
  </div>

  <hr class="h-0.5 w-[700px] bg-gray-800">

  <div>

  <h1>
    <span class="text-pink-500">Information Technology Summer Intern</span> – Badr Eldin Petroleum Company (Bapetco)
  </h1>

  <h3> Aug 2025  On-site </h3>
  <ul class="mx-5 flex flex-col gap-3">
    <li> – Fundamentals of databases and SQL for data management.</li>
    <li> – Basics of networking and infrastructure.</li>
    <li> – Understanding virtual machine (VM) servers and their role in IT environments.</li>
    <li> – Principles of network security and database protection.</li>
    <li> – Introduction to information security best practices.</li>
  </ul>
  </div>

</div>
